.hidden {
  display: none;
}

body {
  margin: 2% 10%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #929292;
  background-image:  repeating-linear-gradient(45deg, #f74545b3 25%, transparent 25%, transparent 75%, #f74545b3 75%, #f74545b3), repeating-linear-gradient(45deg, #f74545b3 25%, #ffffffb3 25%, #ffffffb3 75%, #f74545b3 75%, #f74545b3);
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
}

#header-container {
  float: left;
  width: 45%;
  margin: 2%;
  padding: 0%;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  box-sizing: border-box;
}

.valentino-img {
  width: 30%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.679);
  box-shadow: 0px 0px 8px 8px rgba(1, 1, 1, 0.304);
}

.form-style {
  float: left;
  width: 35%;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
  padding: 2% 3%;
  margin: 2%;
  border-radius: 2%;
  display: block;
  box-sizing: border-box;
}

#order-header {
  font-style: italic;
  text-align: center;
  font-size: 150%;
  margin: 2%;
}

.size-container {
  margin: 4%;
  text-align: center;
}

.topping-container {
  margin-top: -2px;
  margin: -3% 2% 2% 4%;
}

.name-input-style {
  box-sizing: border-box;
  width: 50%;
}

#show-cost {
  float: left;
  width: 45%;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
  padding: 2%;
  margin: 2%;
  border-radius: 2%;
  box-sizing: border-box;
}

#submit-button {
  background-color: rgb(211, 106, 106);
  color: white;
  cursor: pointer;
}

